name=""
account_id=""
compatibility_date="2023-09-29"

workers_dev=true
main="cloudflare/worker.js"

kv_namespaces = [
  { binding = "DATASET", id = "", preview_id = "" }
]

[site]
  bucket="cloudflare/public"

[ai]
  binding="AI"

[[vectorize]]
  binding = "DATASET_VECTORS"
  index_name = "dataset-vectors"
